@inject NavigationManager NavigationManager

<link href="css/navbar.css" rel="stylesheet" />

<nav class="navbar-ar">
    <div class="nav-container-ar">
        <!-- الشعار -->
        <div class="logo-ar">
            <img src="images/logo.png" alt="الشعار" />
        </div>

        <!-- الروابط -->
        <ul class="nav-links-ar">
            <li><NavLink href="/" Match="NavLinkMatch.All">الرئيسية</NavLink></li>
            <li><NavLink href="/courses">الدورات</NavLink></li>
            <li><NavLink href="/aboutus">من نحن</NavLink></li>
            <li><NavLink href="/contact">اتصل بنا</NavLink></li>
        </ul>

        <!-- تسجيل الدخول -->
        <div class="login-ar">
            <NavLink href="/login" class="login-btn">تسجيل الدخول</NavLink>
        </div>
    </div>
</nav>
